/* CIT 230 - Assignment Portal CSS Template */

body {
     text-align: left; 
    font-size: 16px;
    line-height: 32px;
    font-family: Ubuntu, sans-serif;
    color: black;
    display: inline; 
    margin: 10%;
   
}

.image {
    width: auto;
    height: 150px;
    float: right;
     display: inline;
}
    
h1 {
    font-size: 1.5.xrem;
    color: #363433;}
}

h2 {
    font-size: .5rem;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 100%;
}

header, footer, footer a {
    text-align: center;
    background-color: tan;
    color: whitesmoke;
}

footer {
    font-size: 12px;
}
